.box-wrap {
    display  : flex;
    flex-wrap: wrap;
    margin   : 30px 0;

    .archive-box {
        flex         : 0 0 23%;
        box-shadow   : $box-shadow;
        margin-bottom: 10px;
        border-radius: 10px;
        position     : relative;

        display        : flex;
        flex-direction : column;
        justify-content: flex-start;
        align-items    : center;
        transition     : all .2s;

        &:not(:nth-child(4n)) {
            margin-right: 30px;
        }

        &:hover {
            transform: scale(1.01);
        }

        @include for-phone-only {
            flex: 0 0 48%;
            margin:0!important;
            margin-bottom: 10px!important;
            
            &:not(:nth-child(2n)) {
                margin-right: 10px!important;
            }
        }

        &__image {
            background-color: $nav-bg;
            width           : 100%;
            display         : flex;
            justify-content : center;
            border-radius   : 10px 10px 0 0;

            img {
                width     : 150px;
                height    : 60px;
                object-fit: contain;
            }
        }

        &__bonus {
            padding   : 10px 10px 80px 10px;
            font-size : 14px;
            font-style: italic;
            width     : 100%;
            text-align: center;

            span {
                display    : inline;
                font-weight: bold;
                margin     : 0 3px;
            }

            br {
                display: none;
            }
        }

        &__button {
            width     : 100%;
            text-align: center;
            position  : absolute;
            bottom    : 35px;

            a {
                background-color: $cta-green;
                color           : $white;
                padding         : 5px 20px;
                border-radius   : 10px;
                font-size       : 14px;

                &:hover {
                    text-decoration : none;
                    background-color: darken($color: $cta-green, $amount: 10%);
                }
            }
        }

        &__goto {
            position : absolute;
            bottom   : 5px;
            font-size: 12px;
            color    : #9b9b9b;
        }
    }
}