/* Hamburger button */

#nav-icon {
    width             : 24px;
    height            : 24px;
    position          : relative;
    -webkit-transform : rotate(0deg);
    -moz-transform    : rotate(0deg);
    -o-transform      : rotate(0deg);
    transform         : rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition   : .5s ease-in-out;
    -o-transition     : .5s ease-in-out;
    transition        : .5s ease-in-out;
    cursor            : pointer;

    span {
        display           : block;
        position          : absolute;
        height            : 3px;
        width             : 100%;
        background        : $nav-color;
        border-radius     : 5px;
        opacity           : 1;
        left              : 0;
        -webkit-transform : rotate(0deg);
        -moz-transform    : rotate(0deg);
        -o-transform      : rotate(0deg);
        transform         : rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition   : .25s ease-in-out;
        -o-transition     : .25s ease-in-out;
        transition        : .25s ease-in-out;
    }

    span:nth-child(1) {
        top: 0px;

    }

    span:nth-child(2),
    span:nth-child(3) {
        top  : 10px;
        background:$brand-color;
    }

    span:nth-child(4) {
        top: 20px;
    }
}

#nav-icon.open span:nth-child(1) {
    top  : 18px;
    width: 0%;
    left : 50%;
}

#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    -o-transform     : rotate(45deg);
    transform        : rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    -o-transform     : rotate(-45deg);
    transform        : rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top  : 18px;
    width: 0%;
    left : 50%;
}

@media (min-width: 901px) {
	.hamburger-menu.toggle-button {
	display: none !important;
}
}