.site-main ul {
    list-style-type: none;
    padding-left   : 20px;
    margin         : 20px 0;

    li {
        font-weight: 300;
    }

    li:before {
        content     : '✔';
        border-radius: 100%;
        border: 1px solid #667a5c;
        background-color: #59BE28;
        color: white;
        font-size: 12px;
        margin-right: 5px;
        padding: 0px 3px;
    }
}

.site-main ol {
    padding-left   : 20px;
    margin         : 20px 0;
    list-style-type: none;
    counter-reset  : steps;

    li {
        counter-increment: steps;
        font-weight      : 300;
    }

    li:before {
        content      : counter(steps);
        margin-right : 5px;
        background   : $brand-color;
        color        : $white;
        width        : 22px;
        height       : 22px;
        border-radius: 50%;
        display      : inline-grid;
        place-items  : center;
        line-height  : 21px;
        font-size    : 14px;
    }
    
}

.site-main .disadvantages li::before {
    content     : '✕';
    border-radius: 50%;
    border: 1px solid #6e2d38;
    background-color: #D63B54;
    color: white;
    font-size: 12px;
    margin-right: 5px;
    padding: 0px 3px;
}