.navigation {
    .screen-reader-text {
        display: none;
    }

    .nav-links {
        display: flex;

        .current {
            font-weight: bold!important;
        }

        .page-numbers {
            font-size: 16px;
            margin-right: 10px;
            display: flex;
            padding:5px;
            font-weight: 400;
        }

        .prev, .next {
            background-color: #fff;
            color:#000;

            &:hover {
                text-decoration: none;
            }

            &:focus {
                text-decoration: none;
            }
        }
    }
}