.page-navigation {
    background-color: lighten($header-block-bg, 4%);

    .inner-page-navigation {
        display        : flex;
        align-items    : center;
        justify-content: center;
        height         : 39.2px;

        span {
            color    : $white;
            font-size: 10px;
        }
    }

    i {
        margin-right: 5px;
    }

    ul {
        display        : flex;
        list-style-type: none;
    }

    li {
        display: flex;
        padding: 0 9px;

        a {
            color          : $white;
            text-decoration: none;
            font-size      : 10px;
            font-weight    : 300;
        }

        a:hover {
            text-decoration: underline;
        }

        a:not(:last-child) {
            border-right: 1px solid lighten($header-block-bg, 10%);
        }

        &:nth-child(10), &:nth-child(11),&:nth-child(12),&:nth-child(13),&:nth-child(14),&:nth-child(15),&:nth-child(16),&:nth-child(17),&:nth-child(18) {
            display: none;
        }
    }

    @include for-phone-only {
        display: none;
    }
}

.mobile-navigation {
    background-color: lighten($header-block-bg, 4%);

    .inner-mobile-navigation {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        color          : $white;

        i {
            color: $brand-color;
        }

        ul {
            display         : none;
            width           : 100%;
            text-align      : center;
            background-color: lighten($header-block-bg, 10%);

            li {
                padding: 10px 0;

                a {
                    color          : $white;
                    text-decoration: none;
                    font-weight    : 300;

                }
            }

            li:not(:last-child) {
                border-bottom: 1px solid lighten($header-block-bg, 15%);
            }
        }
    }

    @include for-desktop-up {
        display: none;
    }
}
