.search-bar {
    display : none;
    position: absolute;
    left    : 0;
    width   : 100%;

    #searchform {
        display   : flex;
        background: $nav-bg;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        input[type="text"],
        button[type="submit"] {
            outline: none;
        }

        input[type="text"] {
            border    : none;
            box-shadow: $box-shadow;
        }

        input {
            line-height: 1.6;
            font-size  : 12px;
            width      : 90%;
        }

        button {
            background-color: $brand-color;
            display         : flex;
            align-items     : center;
            padding         : 8px;
            border          : none;
            width           : 10%;
            display         : flex;
            justify-content : center;

            i {
                color: $white;
            }
        }
    }
}