// Base table styles
.site-main table {
    width          : 100%;
    border-collapse: collapse;

}

.site-main table td {
    padding: 5px 10px;

    @include for-phone-only {
        display   : block;
        width     : 100% !important;
        text-align: center;
    }
}

.site-main table tr:first-child {
    background-color: lighten($color: $brand-color, $amount: 20%);
    color           : $white;
}

.site-main table tr:first-child {
    background-color: lighten($color: $brand-color, $amount: 20%);
    color           : $white;
}

.site-main table tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.025);
}

.site-main table tr th {
    text-align: left;

    @include for-phone-only {
        display: block;
        text-align: center;
    }
}

// Table styles for casino page header block
.casino-header table {
    table-layout   : fixed;
    width          : 100%;
    border-collapse: collapse;
}

.casino-header tr {
    line-height: 35px;
}

.casino-header th {
    text-align: left;
}

.casino-header td {
    text-align: right;
    padding   : 5px 0;
    width     : 57%;
}