.casino-list {
    margin       : 25px 0;
    counter-reset: listcounter;

    .base-style {
        box-shadow      : 0 0 8px 0 rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.65);
        display         : flex;
        flex-wrap       : wrap;
        align-items     : center;
        padding         : 10px 20px;
        margin-bottom   : 20px !important;
        position        : relative;
        height          : 150px;
        transform: scale(1.00);
        transition: 0.3s;

        @include for-phone-only {
            flex-direction: column;
            height        : initial;
        }

        &>* {
            height: 100%;
            flex  : 0 0 20%;

            @include for-phone-only {
                margin-bottom: 15px;
            }
        }
    }

    &__order {
        position        : absolute;
        top             : 0;
        left            : 0;
        background-color: $brand-color;
        color           : $white;
        height          : initial !important;
        padding         : 10px;

        &:before {
            counter-increment: listcounter;
            content          : counter(listcounter);
            font-weight      : bold;
        }
    }

    &__logo {
        display        : flex;
        justify-content: center;
        align-items    : center;

        img {
            max-width : 170px;
            height    : 80px;
            object-fit: contain;
        }
    }

    &__bonus {
        display        : flex;
        justify-content: center;
        align-items    : center;
        font-size      : 18px;
        font-weight    : 300;

        @include for-phone-only {
            text-align: center;
        }

        span {
            display    : contents;
            font-weight: bold;
            color      : $brand-color;
        }
    }

    &__rating {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: space-evenly;

        .casino-name {
            font-weight   : bold;
            text-transform: uppercase;
            font-size     : 14px;
        }

        .star-rating {
            background-color: $header-block-bg;
            width           : 45px;
            height          : 45px;
            border-radius   : 50%;
            border          : 3px solid $brand-color;
            display         : grid;
            place-items     : center;
            box-shadow      : 0 0 6px 0 $star;

            i {
                margin-left: 14px;
                font-size: 16px;
                color    : $brand-color
            }
        }

        .casino-rating {
            font-weight: bold;
            font-size  : 16px;
        }
    }

    &__pluses {
        display       : flex;
        flex-direction: column;
        align-items   : left;
        font-weight   : 300;
        font-size     : 14px;

        @include for-phone-only {
            font-size: 16px;
        }

        .plus {
            flex       : 0 0 32.5%;
            display    : flex;
            align-items: center;

            @include for-phone-only {
                margin-bottom: 10px;
            }
        }

        i {
            font-size   : 10px;
            color       : $brand-color;
            margin-right: 5px;
            margin-top  : 8px;
        }
    }

    &__more {
        display        : flex;
        flex-direction : column;
        justify-content: space-evenly;
        align-items    : center;

        .list-review {
            color          : $text-color;
            font-size      : 14px;
            text-decoration: none;

            @include for-phone-only {
                margin-bottom: 10px;
            }

            i {
                color    : $brand-color;
                font-size: 12px;
            }

            &:hover {
                cursor         : pointer;
                text-decoration: underline;
            }
        }

        .to-the-casino {
            text-decoration : none;
            color           : $white;
            text-transform  : uppercase;
            font-size       : 14px;
            background-color: $brand-color;
            padding         : 10px 30px;

            &:hover {
                background-color: lighten($color: $brand-color, $amount: 10%);
            }
        }
    }

    &__terms {
        position        : absolute;
        padding         : 3px;
        bottom          : -12px;
        left            : 0;
        width           : 100%;
        height          : initial !important;
        background-color: #f4f4f4;
        font-size       : 10px;
        color           : #959595;


        @include for-phone-only {
            bottom: -25px;
        }

        i {
            margin-right: 5px;
        }
    }
}
@media (max-width: 930px) {
	.casino-list .base-style>* {
    flex: 0 0 19% !important;
}}

@media (max-width: 789px) {
	.casino-list .base-style>* {
    flex: 0 0 18% !important;
}}
@media (max-width: 724px) {
	.casino-list .base-style>* {
    flex: 0 0 14% !important;
}}

@media (max-width: 720px) {
.casino-list .base-style {
    flex-direction: column !important;
    height: initial !important;
    }}
    

    .casino-list .base-style:hover {
        --borderWidth: 2px;
        transform: scale(1.02);
        transition: .3s;
        background:white;
        position: relative;
        border-radius: var(--borderWidth);
      }
    //   .casino-list .base-style:hover{
    //   :after {
    //     content: '';
    //     position: absolute;
    //     top: calc(-1 * var(--borderWidth));
    //     left: calc(-1 * var(--borderWidth));
    //     height: calc(100% + var(--borderWidth) * 2);
    //     width: calc(100% + var(--borderWidth) * 2);
    //     background: linear-gradient(60deg, #f3c016, #f37c64, #ff0048, #c40ee4, #105efc, #05d5f5, #00ffdd, #00ff40);
    //     border-radius: calc(2 * var(--borderWidth));
    //     z-index: -1;
    //     animation: animatedgradient 3s ease alternate infinite;
    //     background-size: 300% 300%;
    //   }
    // }
      
      
      @keyframes animatedgradient {
          0% {
              background-position: 0% 50%;
          }
          50% {
              background-position: 100% 50%;
          }
          100% {
              background-position: 0% 50%;
          }
      }
      