.casino-list4 {
    margin         : 25px 0;
    counter-reset  : listcounter;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;


    .base-style4 {
        box-shadow      : 0 0 8px 0 rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.65);
        display         : flex;
        flex-wrap       : wrap;
        align-items     : center;
        padding         : 10px 20px;
        margin-bottom   : 20px !important;
        position        : relative;
        height          : 110px;
        width           : 280px;
        justify-content: space-between;
        transform       : scale(1.00);
        transition      : 0.4s;
        border-radius   : 15px;
    
        @include for-phone-only {
            flex-direction: column;
            height        : initial;
        }

        &>* {
            height: 100%;
            flex  : 0 0 20%;

            @include for-phone-only {
                margin-bottom: 15px;
            }
        }
    }

    &__logo4 {
        display        : flex;
        justify-content: center;
        align-items    : center;
        transform      : scale(1.00);
        transition     : 0.4s;

        &:hover {
            transform  :scale(1.40);
            transition :0.4s;
        }

        img {
            max-width : 80px !important;
            height    : 80px !important;
            height    : auto;
            object-fit: contain;
        }
    }

    &__bonus4 {
        margin-top     : 20px;
        justify-content: center;
        align-items    : center;
        font-size      : 7px;
        font-weight    : 600;
        text-align     : center;
        cursor         : default;

        @include for-phone-only {
            text-align: center;
        }

        span {
            display    : contents;
            font-weight: bold;
            color      : $brand-color;
        }
    }
    &__bonus4-1 {
        // display        : flex;
        margin-top     : 10px;
        justify-content: center;
        align-items    : center;
        font-size      : 12px;
        font-weight    : 400;
        text-align     : center;
        width          : 110px;
        cursor         : default;

        @include for-phone-only {
            text-align: center;
        }

        span {
            display    : contents;
            font-weight: bold;
            color      : $brand-color;
        }
    }

    &__rating4 {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: space-evenly;
        

        .casino-name4 {
            font-weight     : initial;
            text-transform  : uppercase;
            font-size       : 10px;
            font-weight     : 600;
            text-align      : center;
            cursor          : default;
        }

       

        .casino-rating4 {
            font-weight: initial;
            font-size  : 16px;
            cursor     : default;
        }
    }

    &__pluses4 {
        display       : flex;
        flex-direction: column;
        align-items   : left;
        font-weight   : 400;
        font-size     : 14px;

        @include for-phone-only {
            font-size: 16px;
        }

        .plus4 {
            flex       : 0 0 42.5%;
            display    : flex;
            align-items: center;

            @include for-phone-only {
                margin-bottom: 10px;
            }
        }

        i {
            font-size   : 10px;
            color       : $cta-green;
            margin-right: 5px;
        }

        .arrow.arrow-right {
            display: none;
        }
        .star-rating4 {
            background-color: white;
            width           : 25px;
            height          : 25px;
            border-radius   : 50%;
            display         : grid;
            place-items     : center;
            margin-left     : 9px;

            i {
                font-size   : 10px;
                color       : $star;
            }
        }
        @media (max-width: 720px) {
            .star-rating4 {
                margin-left : 12px;
            }
        }
    }

    &__more4 {
        display        : flex;
        flex-direction : column;
        justify-content: space-evenly;
        align-items    : center;

        .list-review4 {
            color          : $text-color;
            font-size      : 1.5vh;
            text-decoration: none;

            @include for-phone-only {
                margin-bottom: 10px;
            }

            i {
                color    : $cta-green;
                font-size: 12px;
            }

            &:hover {
                cursor         : pointer;
                text-decoration: underline;
            }
        }

        .to-the-casino4 {
            text-align      : center;
            text-decoration : none;
            color           : $white;
            text-transform  : uppercase;
            font-size       : 14px;
            background-color: $cta-green;
            padding         : 10px 40px;
            border-radius   : 15px;

            &:hover {
                background-color: lighten($color: $cta-green, $amount: 10%);
            }
        }
    }

    &__terms4 {
        position        : absolute;
        text-align      : center;
        padding         : 2px;
        bottom          : -4px;
        left            : 0;
        width           : 100%;
        height          : initial !important;
        background-color: #f4f4f4;
        font-size       : 8px;
        color           : #959595;
        border-bottom-left-radius   : 12px;
        border-bottom-right-radius  : 12px;

        @include for-phone-only {
            bottom: -5px;
            padding: 4px;
            text-align: center;
        }

        i {
            margin-right: 5px;
        }
    }
}
@media (max-width: 940px) {
	.casino-list4 .base-style4>* {
    flex: 0 0 19% !important;
}}

@media (max-width: 879px) {
	.casino-list4 {
        flex: 0 0 18% !important;
    justify-content: space-evenly !important;
    }}
@media (max-width: 724px) {
	.casino-list4 .base-style4>* {
    flex: 0 0 14% !important;
}}

@media (max-width: 720px) {
.casino-list4 .base-style4 {
    flex-direction: column !important;
    height: initial !important;
    }}

    .casino-list4 .base-style4:hover {
        --borderWidth: 2px;
        transform: scale(1.02);
        transition: .4s;
        background:white;
        position: relative;
        border-radius: var(--borderWidth);
        border-radius: 15px;
      }
            
      @keyframes animatedgradient {
          0% {
              background-position: 0% 50%;
          }
          50% {
              background-position: 100% 50%;
          }
          100% {
              background-position: 0% 50%;
          }
      }

      @media (max-width: 720px) {
        .casino-name4{
            display: none;
        }
        .casino-list4__bonus4-1 {
            font-size: 20px;
            width: 100%;
        }
        .casino-list4__logo4 img {
            max-width: 135px !important;
            height: 100px !important;
        }
        .casino-list4__order4 {
            position        : absolute;
            top             : 0;
            left            : 0;
            background-color: $light-grey;
            color           : $dark-grey;
            height          : initial !important;
            padding         : 10px;
            border-top-left-radius: 15px;
            z-index: 1000;
    
            &:before {
                counter-increment: listcounter;
                content          : counter(listcounter);
                font-weight      : bold;
            }
        } 
    }
    @media (min-width: 721px ) {
        .casino-list4__order4 {
            display: none;
        }
    }
    @media (max-width: 721px) {
        .casino-list4__pluses4 i {
            font-size: 15px;
            color: #59be28;
            margin-right: 13px;
        }
        .casino-rating4 {
            font-size: 10px;
        }
        .list-review4 {
            font-size: 14px;
            text-decoration: underline;
        }
        .casino-list4__pluses4 {
            margin-bottom: 10px;
        }
    }

    @media (max-width: 599px) {
        .casino-list4-item4{
            width: 100% !important;
        } 
        .casino-list4__logo4 img {
            max-width: 135px !important;
            height: 100px !important;
        }
        .casino-list4__bonus4-1 {
            font-size: 26px;
            width: 100%;
        }
        .list-review4 {
            font-size: 20px;
        }
        .casino-list4__pluses4 i {
            font-size: 30px;
            color: #59be28;
            margin-right: 24px;
        }
        .casino-rating4 {
            font-size: 20px;
        }
        .fas.fa-info-circle {
            font-size: 11px;
            margin-right: 5px;
        }
    } 