// -----------------------------------------------------------------------------
// This file contains all animations
// -----------------------------------------------------------------------------

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
