// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing     : border-box;
  scroll-behavior: smooth;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color      : $brand-color;
  font-weight: bold;
  text-decoration: none;

  @include on-event {
    color          : $brand-lighter;
    text-decoration: underline;
  }
}


/**
* Basic styles
*/
h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin     : 0;
}

ol,
ul {
  margin : 0;
  padding: 0;
}

/**
* Wordpress images css
*/

img {
  @include for-phone-only {
    width:100%;
    height: auto;
  }
}

img.alignright {
  float : right;
  margin: 0 0 1em 1em
}

img.alignleft {
  float : left;
  margin: 0 1em 1em 0
}

img.aligncenter {
  display     : block;
  margin-left : auto;
  margin-right: auto
}

a img.alignright {
  float : right;
  margin: 0 0 1em 1em
}

a img.alignleft {
  float : left;
  margin: 0 1em 1em 0
}

a img.aligncenter {
  display     : block;
  margin-left : auto;
  margin-right: auto
}

// Page content min height
.page-content {
  min-height: 50vh;
}