// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear  : both;
  content: "";
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width    : $max-width;
  /* 1 */
  margin-left  : auto;
  /* 2 */
  margin-right : auto;
  /* 2 */
  padding-left : 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width        : 100%;
  /* 1 */
}

.overflow-hidden {
  overflow: hidden;
}

//Different padding classes
.px-20 {
  padding-left : 20px;
  padding-right: 20px;
}

.px-10 {
  padding-left : 10px;
  padding-right: 10px;
}

.py-20 {
  padding-top   : 20px;
  padding-bottom: 20px;
}

.py-10 {
  padding-top   : 10px;
  padding-bottom: 10px;
}

.p-20 {
  padding: 20px;
}

.p-10 {
  padding: 10px;
}

//Different margin classes

.mx-20 {
  margin-left : 20px;
  margin-right: 20px;
}

.mx-10 {
  margin-left : 10px;
  margin-right: 10px;
}

.my-20 {
  margin-top   : 20px;
  margin-bottom: 20px;
}

.my-10 {
  margin-top   : 10px;
  margin-bottom: 10px;
}

.m-20 {
  margin: 20px;
}

.m-10 {
  margin: 10px;
}

/* for casino toplist icons */

.info-icon, .gift-icon{
  margin-bottom: -1px;
}
.card-icon, .arrows-icon {
  margin-bottom: -1px;
  height: 14px !important;
  width: 25px !important;
}

.author-footer-socials {
  column-gap: 10px;
}

.info-icon-toplists {
  margin-left   : 4px;
  margin-right  : 4px;
}
.info-icon,.gift-icon {
  width: 16px;
  height: 16px;
}

// Plus sign 


  .plus-sign {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.plus-sign-vertical {
    position: absolute;
    width:2px;
    height:8px;
    background-color: $brand-color;
    left:11px;
    top:6px;
}
 .plus-sign-horizontal {
    position: absolute;
    width: 8px;
    height:2px;
    background-color: $brand-color;
    left:8px;
    top:9px;
}

// Uploaded images to rounded borders

.size-full, .aligncenter, .align-right, .size-large, .alignright, .alignright,.aligncenter,.alignleft{
  border-radius: 20px !important;
}