// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Noto Sans JP",
sans-serif !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand colors
/// @type Color
$brand-color  :#D63B54 !default;
$brand-lighter: lighten($brand-color, 10%);
$brand-darker : darken($brand-color, 10%);

$cta-green: #59be28;

//Navigation background color
$nav-bg          : #f1f6fc !default;
//Page header block background color
$header-block-bg : #1A2C3D;

//Casino review page block background
$casino-block-bg: #efefef;

//Box Shadow
$box-shadow : 0 1px 8px 0 rgba(0, 0, 0, .1);

//Toplist star
$star: $brand-color;

/// White
/// @type Colors
$white: rgb(255, 255, 255) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Dark grey
/// @type Color
$nav-color: #211A26 !default;

/// Container's maximum width
/// @type Length
$max-width: 1200px !default;

/// Wrapper maximum width
/// @type Length
$wrapper: 1220px !default;

$sidenav: 250px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: ("small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;