// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
    background-color: $header-block-bg;

    .footer-logos {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-evenly;

        a {
            display        : flex;
            justify-content: center;
        }

        img {
            max-width : 150px;
            max-height: 45px;
            object-fit: contain;
        }
    }

    .footer-menus {
        display        : flex;
        justify-content: space-between;

        @include for-phone-only {
            flex-direction : column;
            justify-content: center;
            align-items    : center;
            text-align     : center;
        }

        span {
            color         : $light-grey;
            text-transform: uppercase;
            font-size     : 14px;
            font-weight   : bold;
        }

        ul {
            list-style: none;
        }

        a {
            color          : $light-grey;
            font-weight    : 300;
            text-decoration: none;
            font-size      : 14px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .footer-lower {
        color      : $light-grey;
        font-size  : 14px;
        font-weight: 300;

        .footer-socials {
            display        : flex;
            justify-content: center;
            margin-top     : 20px;
            column-gap     : 6px;

            i {
                font-size   : 24px;
                margin-right: 10px;
            }
        }
    }

    .footer-copyright {
        background : lighten($header-block-bg, 3%);
        color      : $white;
        font-size  : 14px;
        font-weight: 300;

        .inner-copyright {
            display        : flex;
            justify-content: center;
        }
    }
}