.header-block {
    background-color: $header-block-bg;
    padding         : 25px 0;
    color           : $white;
    background-size : cover;

    .header-block-inner {
        display        : flex;
        justify-content: space-between;

        @include for-phone-only {
            flex-direction: column;
        }
    }

    h1 {
        font-size  : 26px;
        line-height: 30px;
    }

    &__left {
        flex        : 0 0 49%;
        margin-right: 20px;

        @include for-tablet-up-990 {
            flex: 0 0 40%;
        }

        .header-block-more {
            i {
                color: $brand-color;
            }

            span:hover {
                cursor: pointer;
            }

            .front-nav {
                display        : none;
                list-style-type: none;

                li {
                    padding: 5px 0;
                }

                a {
                    color          : $white;
                    font-weight    : 300;
                    text-decoration: none;
                }

                a:hover {
                    text-decoration: underline;
                    color          : $light-grey;
                }
            }

            @include for-phone-only {
                text-align: center;
                margin    : 15px 0;
            }
        }
    }

    &__right {
        flex           : 0 0 49%;
        display        : flex;
        align-items    : flex-start;
        justify-content: space-evenly;

        @include for-tablet-up-990 {
            flex: 0 0 58%;
        }
    }

}


.header-block.simple-page {
    .header-block-inner {
        display        : flex;
        flex-direction : column;
        justify-content: space-between;

        .page-information {
            display        : flex;
            flex-wrap      : wrap;
            justify-content: center;
            align-items    : center;

            font-size: 12px;

            a {
                font-size      : 12px;
                color          : $white;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .page-title {
            text-align: center;
        }
    }
}