.home-content {
    h1 {
        text-align: center;
    }

    .home-single-post {
        display    : flex;
        align-items: center;

        @include for-phone-only {
            flex-direction: column;
        }

        img {
            max-width   : 200px;
            max-height  : 130px;
            object-fit  : contain;
            margin-right: 20px;
        }

        .home-single-title {
            font-size      : 26px;
            text-decoration: none;
            display        : flex;

            &:hover {
                text-decoration: underline;
            }
        }

        .home-single-date {
            font-size: 14px;

            span {
                font-weight: bold;
            }
        }

        .home-single-excerpt {
            font-weight: 300;
        }
    }

    .seperator {
        display        : flex;
        justify-content: center;
        margin         : 50px 0;

        img {
            max-width : 24px;
            height    : auto;
            object-fit: contain;
        }

        &:last-of-type {
            display: none;
        }

        @include for-phone-only {
            margin: 20px 0 40px;
        }
    }
}

.archive-content {
    margin: 25px 0;
}