.archive-content {

    .inner-archive-content {
        display        : flex;
        flex-wrap      : wrap;
        align-items    : flex-start;
        justify-content: flex-start;

        .archive-single-post {
            flex        : 0 0 31.5%;
            margin-right: 1%;

            @include for-phone-only {
                flex  : 0 0 100%;
                margin: 0;
            }
        }

        .archive-single-information {
            margin-top:10px;
            margin-bottom: 10px;
        }

        .archive-single-thumb {
            img {
                width     : 100%;
                height    : 220px;
                object-fit: cover;
                border-radius: 20px;
            }
        }

        .archive-single-title {
            margin-top: 10px;
            font-size  : 22px;
            line-height: 22px;
        }

        .archive-single-author {
            display      : flex;
            align-items  : center;
            margin-top   : 10px;
            margin-bottom: 10px;
            color        : $dark-grey;
            font-size    : 12px;
            font-weight  : 300;

            .archive-author-img {
                display: flex;

                img {
                    width        : 24px;
                    height       : 24px;
                    object-fit   : contain;
                    border-radius: 50%;
                    margin-right : 5px;
                }
            }

            i {
                margin: 0 5px;
            }

        }
        .archive-single-excerpt {
            font-size: 12px;
        }
    }
}