.page-block {
    padding:30px 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.page-block .two-col-wrap {
    display        : flex;
    justify-content: space-between;

    @include for-phone-only {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        flex: 0 0 48%;
    }
}