.page-404 {
    margin: 50px 0;

    @include for-phone-only {
        margin: 25px 0;
    }

    .page-404-inner {
        display: flex;
        align-items: center;
        justify-content: space-around;

        img {
            max-width: 350px;

            @include for-phone-only {
                display: none;
            }
        }

        .page-404-info {
            .title-404 {
                font-size: 120px;
                font-style: italic;
            }

            .subtitle-404 {
                font-size: 40px;
                font-weight: bold;
            }

            .text-404 {
                font-weight: 300;
            }

            .btn {
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }


}