/* The side navigation menu */
#wrapper {
    transition: .5s;
    height    : 100%;
    z-index   : 999;
}

.enter {
    opacity: 1 !important;
    left   : 0 !important;
}

.sidenav {
    margin-top: 0px !important;
    padding-top: 7px;
    height: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: -250px;
    width: 250px;
    background-color: #f1f6fc;
    overflow-y: auto;
    transition: all 0.5s;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  }
  
  #sidenav-logo a {
      pointer-events: none;
      cursor: default;
  }
  
  .sidenav .sub-arrow {
    display: none;
  }
  
  .sidenav .sub-arrow:hover {
    cursor: pointer;
  }
  
  .sidenav .menu-item-has-children .sub-arrow {
    display: block;
    position: absolute;
    top: 1px;
    right: 0px;
    padding: 26px;
  }
  
  @media (max-width: 599px) {
      .mobile-menu {
      margin-top: -6px !important;
  }
  }
  
  .sidenav li {
    position: relative;
  }
  
  .sidenav li a:hover {
    text-decoration: none;
    background-color: #c7dbf3;
  }
  
  .sidenav a {
    display: flex;
    align-items: center;
    padding: 15px;
    color: #222222;
    font-size: 14px;
    text-decoration: none;
    font-weight: 300;
  }
  
  .sidenav img {
    width: 26px;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 5px;
  }
  
  .sidenav .sub-menu {
    display: none;
    background-color: white;
  }
  
  .sidenav .sub-menu .sub-arrow {
    display: none;
  }
  
  .sidenav .sub-menu li a:hover {
    text-decoration: none;
  }
  
  @media (max-width: 599px) {
    .sidenav {
      margin-top: 59px !important;
      padding-top: 7px;
      height: 100%;
      /* position: absolute; */
      position:fixed;
      z-index: 99;
      top: 0;
      left: -250px;
      width: 250px;
      background-color: rgba(241, 246, 252, 0.95);
      overflow-y: auto;
      transition: all 0.5s;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    }
  
    .mobile-menu {
      margin-top: -6px;
    }
  }

  .side__nav__logo {
    display: flex;
    justify-content: space-between;
    max-width: 180px;
    max-height: 27px;
    z-index: 100;
    left: -250px;
    transition: all 0.5s;
  
    margin-top: 18px;
    margin-left: 10px;
    height: 27px ;
    position: fixed;
  
  
  img{
    max-width: 180px;
    height: auto;
  
    }}

.mobile-menu {
    margin-top: 85px;
    }

    /* Close button */
    #close-button {
    margin-left: 18px;
    width: 24px;
    height: 24px;
    display: inline-table;
    position: relative;
    cursor: pointer;
  
     span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #222222;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  
    span:nth-child(1) {
    top: 0px;
  }
  
    span:nth-child(2),
    span:nth-child(3) {
    top: 10px;
    background: #F70017;
  }
  
    span:nth-child(4) {
    top: 20px;
  }
    span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
    span:nth-child(2) {
    transform: rotate(45deg);
  }
  
    span:nth-child(3) {
    transform: rotate(-45deg);
  }
  
    span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  @media (max-width: 599px) {
    #close-button {
      display: none;
    }
  }}